APP_BIND_PORT=18082
RABBITMQ_PUBLIC_PORT=5673
RABBITMQ_MANAGEMENT_BIND_PORT=15673
MEDIAMTX_RTSP_PUBLIC_PORT=8554
MEDIAMTX_API_BIND_PORT=19999
MEDIAMTX_WEBRTC_PUBLIC_PORT=8888

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_EXCHANGE=faces

CONNECT_SERVICE_URL=http://89.111.170.130:8180/api/lecture/start
CONNECT_SERVICE_IN_AMQP_URL=amqp://guest:guest@89.111.170.130:5673/
CONNECT_SERVICE_THRESHOLD=0.45

CAMERA_SOURCE=rtsp://mediamtx:8554/lecture
FPS=15
JPEG_QUALITY=80
AUTO_PUBLISH_INTERVAL=1.0
PUBLISH_MODE=faces
